<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>つーづーあぷり</title>
    <meta name="description" content="">
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">

    <script src="./node_modules/vue/dist/vue.js"></script>

</head>
<body>

<div id="app">
  <input v-model="newTodo" v-on:Keyup.enter="addTodo">
  <ul>
    <li v-for="todo in todos">
      <span>{{ todo.text }}</span>
      <button v-on:click="removeTodo(Sindex)">X</button>
    </li>
  </ul>
</div>



<!-- Vue.js -->
<script>
    new Vue({
      el: '#app',
      data: {
        newTodo: '',
        todos: [
          { text: 'つーづーいれる' }
        ]
      },
      methods: {
        addTodo: function () {
          var text = this.newTodo.trim()
          if (text) {
            this.todos.push({ text: text })
            this.newTodo = ''
          }
        },
        removeTodo: function (index) {
          this.todos.splice(index, 1)
        }
      }
    })
</script>
<!--  / Vue.js -->

</body>
</html>